header {
  display: flex;
  justify-content: space-between;
  background-color: rgb(253, 200, 150);
  box-shadow: 0rem 1px 15px 1px rgb(197, 158, 119);
  padding: 8px 0px;
}
header .icono-header:hover {
  transition: all 1.5s ease;
  transform: rotate(360deg);
}
header a {
  text-decoration: none;
  color: black;
  font-size: 20px;
  font-weight: 600;
  margin-right: 30px;
}
header img {
  border-radius: 100%;
  width: 80px;
  margin-left: 8px;
}
header nav {
  background-color: rgb(253, 200, 150);
}
header .navbar-nav .nav-link.active, header .navbar-nav .show > .nav-link {
  font-weight: 700;
  background-color: rgb(191, 0, 0);
  letter-spacing: 1px;
}
header .navbar-expand-lg .navbar-nav .nav-link {
  color: white;
  padding: 10px 20px 10px 20px;
}
header .navbar-expand-lg .navbar-nav .nav-link:hover {
  font-weight: 700;
  background-color: rgb(169, 27, 27);
}
header .nav-link {
  font-weight: 600;
  border-radius: 15px;
  background-color: #8d0e0e;
}
@media screen and (max-width: 991px) {
  header .nav-link {
    margin-top: 6px;
  }
}
header header nav li {
  display: inline;
}

footer {
  background-color: rgb(253, 200, 150);
  box-shadow: 0rem 1px 20px 1px rgb(197, 158, 119);
  padding: 20px 3% 15px 5%;
}
@media screen and (max-width: 600px) {
  footer {
    padding: 15px 0px 0px 0px;
  }
}
footer .container-fluid .footer {
  display: flex;
  justify-content: space-evenly;
}
@media screen and (max-width: 600px) {
  footer .container-fluid .footer {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 1fr 1fr;
    gap: 0px 0px;
    margin-left: 0;
  }
}
footer .container-fluid .footer .copyright {
  min-width: 33%;
}
@media screen and (max-width: 600px) {
  footer .container-fluid .footer .copyright {
    grid-area: 1/1/2/2;
    max-width: 150px;
  }
  footer .container-fluid .footer .copyright p {
    font-size: 15px;
  }
}
footer .container-fluid .footer .newsletter-text {
  font-size: 18px;
  font-weight: 500;
  min-width: 33%;
  display: flex;
  flex-direction: column;
}
@media screen and (max-width: 600px) {
  footer .container-fluid .footer .newsletter-text {
    grid-area: 2/1/3/4;
    display: flex;
    flex-direction: row;
  }
}
footer .container-fluid .footer .newsletter-text label {
  font-size: 20px;
  font-weight: 600;
  margin-right: 15px;
  padding-bottom: 10px;
}
@media screen and (max-width: 600px) {
  footer .container-fluid .footer .newsletter-text label {
    font-size: 15px;
    padding-bottom: 0px;
  }
}
@media screen and (max-width: 410px) {
  footer .container-fluid .footer .newsletter-text label {
    margin-right: 0px;
  }
}
footer .container-fluid .footer .newsletter-text input {
  max-height: 30px;
  max-width: 220px;
}
@media screen and (max-width: 410px) {
  footer .container-fluid .footer .newsletter-text input {
    max-width: 180px;
  }
}
@media screen and (max-width: 366px) {
  footer .container-fluid .footer .newsletter-text input {
    position: relative;
    top: 6px;
  }
}
footer .container-fluid .footer .newsletter-text .hidden-text {
  display: none;
}
@media screen and (max-width: 600px) {
  footer .container-fluid .footer .newsletter-text .hidden-text {
    display: block;
  }
}
@media screen and (max-width: 600px) {
  footer .container-fluid .footer .newsletter-text .texto-visible {
    display: none;
  }
}
footer .container-fluid .footer .seguinos-container {
  min-width: 33%;
  display: flex;
  align-items: flex-end;
  flex-direction: column;
}
footer .container-fluid .footer .seguinos-container .links-footer a:not(:last-child) {
  margin-right: 10px;
}
@media screen and (max-width: 600px) {
  footer .container-fluid .footer .seguinos-container .links-footer a:not(:last-child) {
    margin-right: 5px;
  }
}
footer .container-fluid .footer .seguinos-container .links-footer img {
  height: 30px;
}
@media screen and (max-width: 600px) {
  footer .container-fluid .footer .seguinos-container .links-footer img {
    margin-top: 20px;
    height: 30px;
    position: relative;
    bottom: 15px;
  }
}
@media screen and (max-width: 600px) {
  footer .container-fluid .footer .seguinos-container {
    grid-area: 1/2/2/3;
    min-width: 100px;
    display: flex;
  }
  footer .container-fluid .footer .seguinos-container .seguinos-titulo {
    display: none;
  }
}

* {
  margin: 0;
  padding: 0;
  font-family: "Inter", sans-serif;
}

body {
  background: rgb(255, 245, 223);
  background: linear-gradient(0deg, rgb(255, 245, 223) 0%, rgb(254, 215, 178) 100%);
}

h1 {
  font-size: 40px;
  font-weight: 600;
}
@media screen and (max-width: 600px) {
  h1 {
    font-size: 30px;
  }
}

h2 {
  font-size: 30px;
  font-weight: 600;
}
@media screen and (max-width: 600px) {
  h2 {
    font-size: 25px;
  }
}

span {
  font-weight: 800;
}

p {
  font-size: 20px;
  font-weight: 600;
}
@media screen and (max-width: 600px) {
  p {
    font-size: 15px;
  }
}

main {
  margin-bottom: 50px;
}

.carousel-control-prev-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23000' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E") !important;
}

.carousel-control-next-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23000' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E") !important;
}

.productos {
  margin-top: 30px;
}
.productos h1 {
  margin-bottom: 30px;
}
@media screen and (max-width: 1199px) {
  .productos .container {
    display: none;
  }
}
.productos .container .product-image {
  width: 320px;
  height: 220px;
  margin-bottom: 40px;
  box-shadow: 5px 1px 10px 3px rgb(187, 152, 117);
}
.productos .container-fluid {
  display: none;
}
@media screen and (max-width: 1199px) {
  .productos .container-fluid {
    display: block;
    padding: 40px;
  }
  .productos .container-fluid h2 {
    margin-top: 50px;
  }
}
@media screen and (max-width: 600px) {
  .productos .container-fluid {
    padding: 5px;
  }
}

.contenedor-clientes {
  display: flex;
  padding: 60px;
  flex-direction: column;
}
@media screen and (max-width: 600px) {
  .contenedor-clientes {
    padding: 10px;
  }
}
.contenedor-clientes h1 {
  margin-bottom: 60px;
}
@media screen and (max-width: 600px) {
  .contenedor-clientes h1 {
    margin-bottom: 30px;
    font-size: 35px;
  }
}
.contenedor-clientes .text-color {
  color: rgb(242, 169, 35);
  font-weight: 800;
  text-shadow: 1px 1px 2px black;
}
.contenedor-clientes .carousel-item .texto-oculto {
  display: none;
}
@media screen and (max-width: 767px) {
  .contenedor-clientes .carousel-item .texto-oculto {
    display: block !important;
    position: relative;
    top: 15px;
  }
}
@media screen and (max-width: 767px) {
  .contenedor-clientes .carousel-indicators button {
    display: none;
  }
}
@media screen and (max-width: 767px) {
  .contenedor-clientes span {
    position: relative;
    bottom: 30px;
  }
}

#contenedor-galeria {
  margin-top: 30px;
}
#contenedor-galeria h1 {
  margin-bottom: 20px;
  margin-left: 7%;
}
@media screen and (max-width: 1200px) {
  #contenedor-galeria h1 {
    margin-left: 0%;
  }
}
@media screen and (max-width: 600px) {
  #contenedor-galeria h1 {
    font-size: 30px;
  }
}
@media screen and (max-width: 1075px) {
  #contenedor-galeria .galeria-seccion {
    display: none;
  }
}
#contenedor-galeria .galeria-seccion .galeria {
  display: flex;
  justify-content: space-around;
}
#contenedor-galeria .galeria-seccion .galeria .imagen-galeria {
  width: 350px;
  height: 220px;
  margin-bottom: 150px;
  box-shadow: 5px 1px 25px 5px rgb(187, 152, 117);
  border: 5px solid white;
}
#contenedor-galeria .galeria-seccion .carousel-control-next-icon {
  position: relative;
  bottom: 70px;
  left: 20%;
}
#contenedor-galeria .galeria-seccion .carousel-control-prev-icon {
  position: relative;
  bottom: 70px;
  right: 20%;
}
#contenedor-galeria .galeria-mobile {
  display: none;
}
@media screen and (max-width: 1075px) {
  #contenedor-galeria .galeria-mobile {
    display: block;
    margin-bottom: 60px;
  }
  #contenedor-galeria .galeria-mobile .carousel-control-next-icon {
    position: relative;
    bottom: 0px;
    left: 0px;
  }
  #contenedor-galeria .galeria-mobile .carousel-control-prev-icon {
    position: relative;
    bottom: 0px;
    right: 0px;
  }
  #contenedor-galeria .galeria-mobile .imagen-galeria-mobile {
    min-height: 100;
  }
}

.contenedor-contactos {
  margin-bottom: 80px;
  margin-left: 40px;
  margin-top: 60px;
}
@media screen and (max-width: 600px) {
  .contenedor-contactos {
    margin-left: 0px;
  }
}
.contenedor-contactos h1 {
  margin-bottom: 120px;
}
.contenedor-contactos p {
  margin-bottom: 30px;
}
@media screen and (max-width: 315px) {
  .contenedor-contactos p {
    font-size: 13px;
  }
}
.contenedor-contactos .contactos {
  display: flex;
}
.contenedor-contactos .contactos .contacto {
  text-decoration: none;
  margin-left: 25px;
  background-color: rgb(216, 3, 3);
  border-radius: 15px;
  padding: 7px 15px 7px 15px;
  color: white;
}
@media screen and (max-width: 700px) {
  .contenedor-contactos .contactos {
    flex-direction: column;
  }
}
.contenedor-contactos .mapa {
  width: 100%;
  min-height: 600px;
  padding-right: 30px;
}
@media screen and (max-width: 600px) {
  .contenedor-contactos .mapa {
    padding-right: 0px;
  }
}

.seccion-presentacion {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}
.seccion-presentacion .contenedor-presentacion {
  width: 60%;
}
.seccion-presentacion .contenedor-presentacion h1 {
  position: relative;
  top: 60px;
  color: white;
  z-index: 3;
  padding-left: 10px;
  padding-right: 10px;
  text-shadow: 1px 1px 2px black;
}
@media screen and (max-width: 991px) {
  .seccion-presentacion .contenedor-presentacion h1 {
    font-size: 40px;
    top: 60px;
  }
}
@media screen and (max-width: 429px) {
  .seccion-presentacion .contenedor-presentacion h1 {
    font-size: 30px;
    top: 50px;
  }
}
@media screen and (max-width: 991px) {
  .seccion-presentacion .contenedor-presentacion {
    width: 95%;
  }
}

.container .contenedor-todo-quienes-somos .contenedor-quienes-somos {
  width: 100%;
  display: flex;
  margin-bottom: 60px;
}
@media screen and (max-width: 991px) {
  .container .contenedor-todo-quienes-somos .contenedor-quienes-somos {
    flex-direction: column;
  }
  .container .contenedor-todo-quienes-somos .contenedor-quienes-somos .imagen-quienes-somos {
    width: 100%;
    margin-bottom: 10px;
  }
}
.container .contenedor-todo-quienes-somos h2 {
  margin-bottom: 30px;
}
.container .contenedor-todo-quienes-somos .imagen-quienes-somos {
  width: 30%;
  height: 10%;
  margin-right: 20px;
}

/*# sourceMappingURL=style.css.map */
