@import "../base/variables";

.contenedor-clientes{
    display: flex;
    padding: 60px;
    flex-direction: column;
    // No se esta sera la forma mas optima de usar los @media en sass pero fue la unica forma de que todo me funcionara correctamente
    @media screen and (max-width: $resolucion-mobile){
        padding: 10px;
    }
    h1{
        margin-bottom: 60px;
        @media screen and (max-width: $resolucion-mobile){
            margin-bottom: 30px;
            font-size: 35px;
        }
    }
    .text-color{
        color: rgb(242, 169, 35);
        font-weight: 800;
        text-shadow: 1px 1px 2px black;
    }
    .carousel-item{
        .texto-oculto{
            display: none;
            @media screen and (max-width: 767px){
                display: block !important;
                position: relative;
                top: 15px;
            }
        }
    }
    // No me la quise jugar mucho con el nesting de sass para las costas de boostrap por miedo a romper todo
    .carousel-indicators{
        button{
            @media screen and (max-width: 767px){
                display: none;
            }
        }
    }
    span{
        @media screen and (max-width: 767px){
            position: relative;
            bottom: 30px;
        }
    }
}

