@import "../base/variables";

header{
    display: flex;
    justify-content: space-between;
    background-color: rgb(253, 200, 150);
    box-shadow: 0rem 1px 15px 1px rgb(197, 158, 119);
    padding: 8px 0px;
    .icono-header:hover{
        transition: all 1.5s ease;
        transform: rotate(360deg);
    }
    a{
        text-decoration: none;
        color: black;
        font-size: 20px;
        font-weight: 600;
        margin-right: 30px;
    }
    img{
    border-radius: 100%;
    width: 80px;
    margin-left: 8px;
    }
    nav {
    background-color: rgb(253, 200, 150);
    }
    .navbar-nav .nav-link.active, .navbar-nav .show>.nav-link {
        font-weight: 700;
        background-color: rgb(191, 0, 0);
			letter-spacing: 1px;
            }
    

    .navbar-expand-lg .navbar-nav .nav-link{
        color:white;
        padding: 10px 20px 10px 20px;
        &:hover{
        font-weight: 700;
        background-color: rgb(169, 27, 27);
        }
    }

    .nav-link{
        font-weight: 600;
        border-radius: 15px;
        background-color: #8d0e0e;
        @media screen and (max-width: $resolucion-responsive){
            margin-top: 6px;
        }
    }
    
    header nav li{
        display: inline;
    }
}
