@import "../base/variables";

.seccion-presentacion{
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
    .contenedor-presentacion{
        width: 60%;
        h1{
            position: relative;
            top: 60px;
            color: white;
            z-index: 3;
            padding-left: 10px;
            padding-right: 10px;
            text-shadow: 1px 1px 2px black;
            @media screen and (max-width: $resolucion-responsive){
                font-size: 40px;
                top:60px;
            }
            @media screen and (max-width: 429px){
                font-size: 30px;
                top: 50px;
            }
        }
        @media screen and (max-width: $resolucion-responsive){
            width: 95%;
        }
    }
}
.container{
    .contenedor-todo-quienes-somos{
        .contenedor-quienes-somos{
            width: 100%;
            display: flex;
            margin-bottom: 60px;
            @media screen and (max-width: $resolucion-responsive){
                flex-direction: column;
                .imagen-quienes-somos{
                    width: 100%;
                    margin-bottom: 10px;
                }
            }
        }
        h2{
            margin-bottom: 30px;
        }
        .imagen-quienes-somos{
            width: 30%;
            height: 10%;
            margin-right:20px;
        }
    }
}
