@import "../base/variables";

// Decidi divir los archivos de sass en el main para lo que afecta a todas las paginas, footer y header para esas partes y despues uno para cada pagina individual para organizarlo mejor

*{
    margin: 0;
    padding: 0;
    font-family: 'Inter', sans-serif;
}
body{
    background: rgb(255,245,223);
    background: linear-gradient(0deg, rgba(255,245,223,1) 0%, rgba(254,215,178,1) 100%);
}


h1{
    font-size: 40px;
    font-weight: 500;
    @media screen and (max-width: $resolucion-mobile){
        font-size: 30px;
    }
}

h2{
    font-size: 30px;
    font-weight: 500;
    @media screen and (max-width: $resolucion-mobile){
        font-size: 25px;
    }
}

span{
    font-weight: 800;
}

p {
    font-size: 20px;
    font-weight: 600;
    @media screen and (max-width: $resolucion-mobile){
        font-size: 15px;
    }
}

main{
    margin-bottom: 50px;
}

.carousel-control-prev-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23000' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E") !important;
}
    .carousel-control-next-icon {
        background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23000' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E") !important;
}