@import "../base/variables";
.productos{
    margin-top: 30px;
    h1{
        margin-bottom: 30px;
    }
    .container{
        // Use la resolucion de 1199px en esta parte de la pagina porque es el punto especifico donde se rompia
        @media screen and (max-width: 1199px){
            display: none;
        }
    .product-image{
        width: 320px;
        height: 220px;
        margin-bottom: 40px;
        box-shadow: 5px 1px 10px 3px rgb(187, 152, 117);
    }
    }
    .container-fluid{
        display: none;
        @media screen and (max-width: 1199px){
            display: block;
            padding: 40px;
            h2{
                margin-top: 50px;
            }
        }
        @media screen and (max-width: $resolucion-mobile){
            padding: 5px;
        }
    }
}